pipe
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


src/building_blocks
src/decoders
src/units
work
transcript
.fuse_hidden0000006800000001
pipline.mpf
